@page "/entries/test/{id}"
@attribute [Authorize]
@inject IAlertService AlertService
@using EntryNow.WebApp.Constants
@inject NavigationManager NavigationManager

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Edit Entry</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Entries</a></li>
              <li class="breadcrumb-item active">Edit Entry details</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Edit Entry's details</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
              <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                @if (surnames != null)
                {
                       <div class="row">
                          <div class="col-md-4">
                              <div class="form-group">
                                  <label>Name</label>
                                  <InputText @bind-Value="model.Name" class="form-control" />
                                  <ValidationMessage For="@(() => model.Name)" />
                              </div>
                              <div class="form-group">
                                  <label>Email</label>
                                  <InputText @bind-Value="model.EmailAddress" class="form-control" />
                                  <ValidationMessage For="@(() => model.EmailAddress)" />
                              </div>
                              <div class="form-group">
                                  <label>City</label>
                                  <select class="form-control select2" style="width: 100%;" @bind="model.City">
                                        @if (string.IsNullOrEmpty(model.City))
                                        {
                                            <option disabled selected hidden>Select City ...</option>
                                        }
                                        else
                                        {
                                            <option selected="selected">@model.City</option>
                                        }
                                        @foreach(var city in cities)
                                        {
                                            <option value="@city">@city</option>
                                        }
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <label>Surname</label>
                                  <select class="form-control select2" style="width: 100%;" @bind="model.SurnameId">
                                        @if (string.IsNullOrEmpty(surname))
                                        {
                                            <option disabled selected hidden>Select Surname ...</option>
                                        }
                                        else
                                        {
                                            <option selected="selected">@surname</option>
                                        }
                                        @foreach(var item in surnames)
                                        {
                                            <option value="@item.Id">@item.Value</option>
                                        }
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label>CNIC</label>
                                  <InputText @bind-Value="model.CNIC" class="form-control" />
                                  <ValidationMessage For="@(() => model.CNIC)" />
                              </div>
                             <div class="form-group">
                                  <label>Taluka</label>
                                  <select class="form-control select2" style="width: 100%;" @onchange="@FillUcDropDown">
                                        @if (string.IsNullOrEmpty(model.Taluka))
                                        {
                                            <option disabled selected hidden>Select Taluka ...</option>
                                        }
                                        else
                                        {
                                            <option selected="selected">@model.Taluka</option>
                                        }
                                        @foreach(var taluka in talukas)
                                        {
                                            <option value="@taluka">@taluka</option>
                                        }
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <label>Contact Number</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <InputText @bind-Value="model.ContactNumber" class="form-control" data-inputmask='"mask": "0399-999 9999"' data-mask />
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label>District</label>
                                  <select class="form-control select2" style="width: 100%;" @bind="model.District">
                                        @if (string.IsNullOrEmpty(model.City))
                                        {
                                            <option disabled selected hidden>Select District ...</option>
                                        }
                                        else
                                        {
                                            <option selected="selected">@model.District</option>
                                        }
                                        @foreach(var district in districts)
                                        {
                                            <option value="@district">@district</option>
                                        }
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label>Union Council</label>
                                  <select class="form-control select2" style="width: 100%;" @onchange="@FillVillagesDropDown" >
                                        @if (string.IsNullOrEmpty(model.UnionCouncil))
                                        {
                                            <option disabled selected hidden>Select Union Council ...</option>
                                        }
                                        else
                                        {
                                            <option selected="selected">@model.UnionCouncil</option>
                                        }
                                        @foreach(var uc in unioncounsils)
                                        {
                                            <option value="@uc">@uc</option>
                                        }
                                  </select>
                              </div>
                          </div>
                       </div>
                       <div class="row">
                          <div class="col-md-4">
                              <div class="form-group">
                                  <label>Village</label>
                                  <select class="form-control select2" style="width: 100%;" @bind="model.Village">
                                        @if (string.IsNullOrEmpty(model.Village))
                                        {
                                            <option disabled selected hidden>Select Village ...</option>
                                        }
                                        else
                                        {
                                            <option selected="selected">@model.Village</option>
                                        }
                                        @foreach(var village in villages)
                                        {
                                            <option value="@village">@village</option>
                                        }
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <label>Reference</label>
                                  <InputText @bind-Value="this.referenceValue" class="form-control select2" @oninput="(e)=> AutoCompleteField(e.Value.ToString())" list="_ref"/>
                                      <datalist id="_ref">
                                        @if (searchList != null)
                                        {
                                            @foreach (var item in searchList)
                                            {
                                                <option id="@item.Id">@item.Value</option>
                                            }
                                        }
                                      </datalist>
                              </div>
                          </div>
                       </div>
                       <div class="row">
                           <div class="col-md-8">
                              <div class="form-group">
                                      <label>Complete Address</label>
                                      <InputText @bind-Value="model.Address" class="form-control" />
                                      <ValidationMessage For="@(() => model.Address)" />
                              </div>
                          </div>
                           <div class="col-md-4">
                              <div class="form-group">
                                    <NavLink href="entries/index" class="btn btn-link" style="float:right; margin-top:34px;">Cancel</NavLink>
                                    <button disabled="@loading" class="btn btn-primary" style="float:right; margin-top:34px;">
                                        @if (loading)
                                        {
                                            <span class="spinner-border spinner-border-sm mr-1"></span>
                                        }
                                        Submit
                                    </button>
                              </div>
                          </div>
                       </div>
                }
                @if (pageLoading)
                {
                    <tr>
                        <td colspan="12" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                }
              </EditForm>
          </div>
        </div>
      </div>
    </section>


@code {
    //private Entries entry;
    private string surname = "";
    private string referenceValue = "NA";
    private Entries_CreateViewModel model = new Entries_CreateViewModel();
    private List<SearchValues> searchList;
    private IList<DropDowns> surnames;
    private List<string> cities = new List<string>();
    //private IList<DropDowns> dehs;
    private List<string> districts = new List<string>();
    private List<string> talukas = new List<string>();
    private List<string> unioncounsils = new List<string>();
    private List<string> villages = new List<string>();
    private string baseUrl = "https://entrynowapi.azurewebsites.net/api/";
    private bool loading;
    private bool pageLoading;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        pageLoading = true;
        districts.AddRange(Global.Districts);
        talukas.AddRange(Global.Talukas);
        cities.AddRange(Global.Cities);
        model = await GetEntryById();
        if (model.ReferenceId != 0)
        {
            await FindReferenceById();
        }
        await FillDropDowns();
        if (surnames!=null)
        {
            await FindSurname();
        }
        _FillUcDropDown();
        _FillVillagesDropDown();
        if (model.District != null)
        {
            districts.Remove(model.District);
        }
        if (model.Taluka != null)
        {
            talukas.Remove(model.Taluka);
        }
        if (model.City != null)
        {
            cities.Remove(model.City);
        }
        //if(model.ReferenceId != 0)
        //{
        //    model.IsAReference = true;
        //}
        //if (string.IsNullOrEmpty(surname))
        //{
        //    surname = "Select Surname";
        //}
        //if (string.IsNullOrEmpty(model.District))
        //{
        //    model.District = "Select District";
        //}
        //if (string.IsNullOrEmpty(model.City))
        //{
        //    model.City = "Select City";
        //}
        //if (string.IsNullOrEmpty(model.Taluka))
        //{
        //    model.Taluka = "Select Taluka";
        //}
        //if (string.IsNullOrEmpty(model.UnionCouncil))
        //{
        //    model.UnionCouncil = "Select Union Council";
        //}
        //if (string.IsNullOrEmpty(model.Village))
        //{
        //    model.Village = "Select Village";
        //}
        pageLoading = false;
    }
    private async Task FindReferenceById()
    {
        try
        {
            using (System.Net.Http.HttpClient httpClient = new System.Net.Http.HttpClient())
            {
                using (System.Net.Http.HttpResponseMessage response = await httpClient.GetAsync(baseUrl + "reference/findReference?id=" + model.ReferenceId))
                {
                    string apiResponse = await response.Content.ReadAsStringAsync();
                    SearchValues searchedValue = Newtonsoft.Json.JsonConvert.DeserializeObject<SearchValues>(apiResponse);
                    referenceValue = searchedValue.Value;
                }
            }
        }
        catch(Exception e)
        {
            AlertService.Error("Reference Not Found!");
            loading = false;
            StateHasChanged();
        }
    }
    private Task FindSurname()
    {
        foreach (var item in surnames)
        {
            if (item.Id == model.SurnameId)
            {
                surname = item.Value;
            }
        }
        return Task.CompletedTask;
    }

    //private Task RenderDropDownDataOnEdit()
    //{
    //    foreach (var item in cities)
    //    {
    //        if (item.Id == entry.CityId)
    //        {
    //            model.City = item.Value;
    //            //cities.Remove(item);
    //        }
    //    }
    //    foreach (var item in dehs)
    //    {
    //        if (item.Id == entry.DehId)
    //        {
    //            model.Deh = item.Value;
    //            //dehs.Remove(item);
    //        }
    //    }
    //    foreach (var item in districts)
    //    {
    //        if (item.Id == entry.DistrictId)
    //        {
    //            model.District = item.Value;
    //            //districts.Remove(item);
    //        }
    //    }
    //    foreach (var item in surnames)
    //    {
    //        if (item.Id == entry.SurnameId)
    //        {
    //            model.Surname = item.Value;
    //            //surnames.Remove(item);
    //        }
    //    }
    //    foreach (var item in talukas)
    //    {
    //        if (item.Id == entry.TalukaId)
    //        {
    //            model.Taluka = item.Value;
    //            //talukas.Remove(item);
    //        }
    //    }
    //    foreach (var item in unioncounsils)
    //    {
    //        if (item.Id == entry.UnionCounsilId)
    //        {
    //            model.UnionCouncil = item.Value;
    //            //unioncounsils.Remove(item);
    //        }
    //    }
    //    foreach (var item in villages)
    //    {
    //        if (item.Id == entry.VillageId)
    //        {
    //            model.Village = item.Value;
    //            //villages.Remove(item);
    //        }
    //    }
    //    return Task.CompletedTask;
    //}

    private async Task AutoCompleteField(string refName)
    {
        if (!string.IsNullOrEmpty(refName) && refName.Length >=3)
        {
            try
            {
                using (System.Net.Http.HttpClient httpClient = new System.Net.Http.HttpClient())
                {
                    using (System.Net.Http.HttpResponseMessage response = await httpClient.GetAsync(baseUrl + "reference/find?name=" + refName))
                    {
                        string apiResponse = await response.Content.ReadAsStringAsync();
                        this.searchList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<SearchValues>>(apiResponse);
                    }
                }
            }
            catch(Exception e)
            {
                AlertService.Error(e.Message);
                loading = false;
                StateHasChanged();
            }
        }
    }
    private async Task<Entries_CreateViewModel> GetEntryById()
    {
        try
        {
            string id = Id;
            using (System.Net.Http.HttpClient httpClient = new System.Net.Http.HttpClient())
            {
                using (System.Net.Http.HttpResponseMessage response = await httpClient.GetAsync(baseUrl + "voter/find/" + id))
                {
                    string apiResponse = await response.Content.ReadAsStringAsync();
                    return Newtonsoft.Json.JsonConvert.DeserializeObject<Entries_CreateViewModel>(apiResponse);
                }
            }
        }
        catch(Exception e)
        {
            AlertService.Error(e.Message);
            loading = false;
            StateHasChanged();
        }
        return new Entries_CreateViewModel();
    }
    private void FillUcDropDown (ChangeEventArgs e)
    {
        model.Taluka = e.Value.ToString();
        if(model.Taluka == "Hala")
        {
            unioncounsils.AddRange(Global.UnionCounsil_Hala);
        }
        if(model.Taluka == "Saeedabad")
        {
            unioncounsils.AddRange(Global.UnionCounsil_Saeedabad);
        }
        if(model.Taluka == "Matiari")
        {
            unioncounsils.AddRange(Global.UnionCounsil_Matiari);
        }
    }
    private void _FillUcDropDown ()
    {
        if(model.Taluka == "Hala")
        {
            unioncounsils.AddRange(Global.UnionCounsil_Hala);
        }
        if(model.Taluka == "Saeedabad")
        {
            unioncounsils.AddRange(Global.UnionCounsil_Saeedabad);
        }
        if(model.Taluka == "Matiari")
        {
            unioncounsils.AddRange(Global.UnionCounsil_Matiari);
        }
    }
    private void FillVillagesDropDown (ChangeEventArgs e)
    {
        model.UnionCouncil = e.Value.ToString();
        if(model.UnionCouncil == "Khandu")
        {
            villages.AddRange(Global.Villages_Khandu);
        }
        if(model.UnionCouncil == "Karam Khan Nizamani")
        {
            villages.AddRange(Global.Villages_KaramKhanNizamani);
        }
        if(model.UnionCouncil == "Ajan Shah")
        {
            villages.AddRange(Global.Villages_AjanShah);
        }
        if(model.UnionCouncil == "Bhanoth")
        {
            villages.AddRange(Global.Villages_Bhanoth);
        }
        if(model.UnionCouncil == "Bhit Shah")
        {
            villages.AddRange(Global.Villages_BhitShah);
        }
        if(model.UnionCouncil == "Fateh Muhammad Shah Ajnani")
        {
            villages.AddRange(Global.Villages_FatehMuhammadShahAjnani);
        }
        if(model.UnionCouncil == "Abdul Wahid Burira")
        {
            villages.AddRange(Global.Villages_AbdulWahidBurira);
        }
        if(model.UnionCouncil == "BD Kaka")
        {
            villages.AddRange(Global.Villages_BDKaka);
        }
        if(model.UnionCouncil == "Faqeerabad")
        {
            villages.AddRange(Global.Villages_Faqeerabad);
        }
        if(model.UnionCouncil == "Makhdoom joon Landhiyoon")
        {
            villages.AddRange(Global.Villages_MakhdoomjoonLandhiyoon);
        }
        if(model.UnionCouncil == "Old Saeedabad")
        {
            villages.AddRange(Global.Villages_OldSaeedabad);
        }
        if(model.UnionCouncil == "Ramzan Unar")
        {
            villages.AddRange(Global.Villages_RamzanUnar);
        }
        if(model.UnionCouncil == "Shahmir Rahu")
        {
            villages.AddRange(Global.Villages_ShahmirRahu);
        }
        if(model.UnionCouncil == "Sikandarabad")
        {
            villages.AddRange(Global.Villages_Sikandarabad);
        }
        if(model.UnionCouncil == "Zair Peer")
        {
            villages.AddRange(Global.Villages_ZairPeer);
        }
    }
    private void _FillVillagesDropDown ()
    {
        if(model.UnionCouncil == "Khandu")
        {
            villages.AddRange(Global.Villages_Khandu);
        }
        if(model.UnionCouncil == "Karam Khan Nizamani")
        {
            villages.AddRange(Global.Villages_KaramKhanNizamani);
        }
        if(model.UnionCouncil == "Ajan Shah")
        {
            villages.AddRange(Global.Villages_AjanShah);
        }
        if(model.UnionCouncil == "Bhanoth")
        {
            villages.AddRange(Global.Villages_Bhanoth);
        }
        if(model.UnionCouncil == "Bhit Shah")
        {
            villages.AddRange(Global.Villages_BhitShah);
        }
        if(model.UnionCouncil == "Fateh Muhammad Shah Ajnani")
        {
            villages.AddRange(Global.Villages_FatehMuhammadShahAjnani);
        }
        if(model.UnionCouncil == "Abdul Wahid Burira")
        {
            villages.AddRange(Global.Villages_AbdulWahidBurira);
        }
        if(model.UnionCouncil == "BD Kaka")
        {
            villages.AddRange(Global.Villages_BDKaka);
        }
        if(model.UnionCouncil == "Faqeerabad")
        {
            villages.AddRange(Global.Villages_Faqeerabad);
        }
        if(model.UnionCouncil == "Makhdoom joon Landhiyoon")
        {
            villages.AddRange(Global.Villages_MakhdoomjoonLandhiyoon);
        }
        if(model.UnionCouncil == "Old Saeedabad")
        {
            villages.AddRange(Global.Villages_OldSaeedabad);
        }
        if(model.UnionCouncil == "Ramzan Unar")
        {
            villages.AddRange(Global.Villages_RamzanUnar);
        }
        if(model.UnionCouncil == "Shahmir Rahu")
        {
            villages.AddRange(Global.Villages_ShahmirRahu);
        }
        if(model.UnionCouncil == "Sikandarabad")
        {
            villages.AddRange(Global.Villages_Sikandarabad);
        }
        if(model.UnionCouncil == "Zair Peer")
        {
            villages.AddRange(Global.Villages_ZairPeer);
        }
    }
    private async Task FillDropDowns()
    {
        try
        {
            //using (System.Net.Http.HttpClient httpClient = new System.Net.Http.HttpClient())
            //{
            //    using (System.Net.Http.HttpResponseMessage response = await httpClient.GetAsync(baseUrl + "city/dropdown"))
            //    {
            //        string apiResponse = await response.Content.ReadAsStringAsync();
            //        this.cities = Newtonsoft.Json.JsonConvert.DeserializeObject<IList<DropDowns>>(apiResponse);
            //    }
            //}
            //using (System.Net.Http.HttpClient httpClient = new System.Net.Http.HttpClient())
            //{
            //    using (System.Net.Http.HttpResponseMessage response = await httpClient.GetAsync(baseUrl + "deh/dropdown"))
            //    {
            //        string apiResponse = await response.Content.ReadAsStringAsync();
            //        this.dehs = Newtonsoft.Json.JsonConvert.DeserializeObject<IList<DropDowns>>(apiResponse);
            //    }
            //}
            //using (System.Net.Http.HttpClient httpClient = new System.Net.Http.HttpClient())
            //{
            //    using (System.Net.Http.HttpResponseMessage response = await httpClient.GetAsync(baseUrl + "district/dropdown"))
            //    {
            //        string apiResponse = await response.Content.ReadAsStringAsync();
            //        this.districts = Newtonsoft.Json.JsonConvert.DeserializeObject<IList<DropDowns>>(apiResponse);
            //    }
            //}
            using (System.Net.Http.HttpClient httpClient = new System.Net.Http.HttpClient())
            {
                using (System.Net.Http.HttpResponseMessage response = await httpClient.GetAsync(baseUrl + "surname/dropdown"))
                {
                    string apiResponse = await response.Content.ReadAsStringAsync();
                    this.surnames = Newtonsoft.Json.JsonConvert.DeserializeObject<IList<DropDowns>>(apiResponse);
                }
            }
            //using (System.Net.Http.HttpClient httpClient = new System.Net.Http.HttpClient())
            //{
            //    using (System.Net.Http.HttpResponseMessage response = await httpClient.GetAsync(baseUrl + "taluka/dropdown"))
            //    {
            //        string apiResponse = await response.Content.ReadAsStringAsync();
            //        this.talukas = Newtonsoft.Json.JsonConvert.DeserializeObject<IList<DropDowns>>(apiResponse);
            //    }
            //}
            //using (System.Net.Http.HttpClient httpClient = new System.Net.Http.HttpClient())
            //{
            //    using (System.Net.Http.HttpResponseMessage response = await httpClient.GetAsync(baseUrl + "unioncounsil/dropdown"))
            //    {
            //        string apiResponse = await response.Content.ReadAsStringAsync();
            //        this.unioncounsils = Newtonsoft.Json.JsonConvert.DeserializeObject<IList<DropDowns>>(apiResponse);
            //    }
            //}
            //using (System.Net.Http.HttpClient httpClient = new System.Net.Http.HttpClient())
            //{
            //    using (System.Net.Http.HttpResponseMessage response = await httpClient.GetAsync(baseUrl + "village/dropdown"))
            //    {
            //        string apiResponse = await response.Content.ReadAsStringAsync();
            //        this.villages = Newtonsoft.Json.JsonConvert.DeserializeObject<IList<DropDowns>>(apiResponse);
            //    }
            //}
        }
        catch(Exception e)
        {
            AlertService.Error(e.Message);
            loading = false;
            StateHasChanged();
        }
    }

    private async void OnValidSubmit()
    {
        AlertService.Clear();
        loading = true;
        try
        {
            await AddEntryAsync();
            AlertService.Success("Entry Edited Successfully", keepAfterRouteChange: true);
            //await Task.Delay(2000);
            NavigationManager.NavigateTo("entries/index");
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
    private async Task AddEntryAsync()
    {
        //if (surname.Length >= 7 && surname.Substring(0, 6) == "Select")
        //{
        //    model.SurnameId = null;
        //}
        //if (model.District.Length >= 7 && model.District.Substring(0, 6) == "Select")
        //{
        //    model.District = null;
        //}
        //if (model.City.Length >= 7 && model.City.Substring(0, 6) == "Select")
        //{
        //    model.City = null;
        //}
        //if (model.Taluka.Length >= 7 && model.Taluka.Substring(0, 6) == "Select")
        //{
        //    model.Taluka = null;
        //}
        //if (model.UnionCouncil.Length >= 7 && model.UnionCouncil.Substring(0, 6) == "Select")
        //{
        //    model.UnionCouncil = null;
        //}
        //if (model.Village.Length >= 7 && model.Village.Substring(0, 6) == "Select")
        //{
        //    model.Village = null;
        //}
        model.Id = Int32.Parse(Id);

        if (string.IsNullOrEmpty(referenceValue))
        {
            model.ReferenceId = null;
        }


        if (searchList != null)
        {
            foreach (var item in searchList)
            {
                if (item.Value == this.referenceValue)
                {
                    model.ReferenceId = item.Id;
                }
            }
        }
        using (System.Net.Http.HttpClient httpClient = new System.Net.Http.HttpClient())
        {
            var postData = Newtonsoft.Json.JsonConvert.SerializeObject(model);
            var content = new System.Net.Http.StringContent(postData, System.Text.Encoding.UTF8, "application/json");
            using (System.Net.Http.HttpResponseMessage response = await httpClient.PutAsync(baseUrl + "voter/save", content))
            {
                string apiResponse = await response.Content.ReadAsStringAsync();
            }
        }
    }
}